<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682066856386-sr63clkq52dipm3sqsj7uid9si04nium.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682066856386-sr63clkq52dipm3sqsj7uid9si04nium</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OMKPShrRlim586VJhtjUbcARBacoMtI</string>
	<key>GCM_SENDER_ID</key>
	<string>682066856386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.research.csv</string>
	<key>PROJECT_ID</key>
	<string>research-cvs</string>
	<key>STORAGE_BUCKET</key>
	<string>research-cvs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682066856386:ios:378c9c1b256714fffeae5b</string>
</dict>
</plist>